<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

<!--      
<style>

  body {
 
  background-image: url("/assets/images/homeimg.jpeg");
 
  background-size: 100%;
 
  background-repeat: no-repeat;
 
  }
 
  </style> -->
</head>
<body>




<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    Profile
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" routerLink="profile">Profile</a>
    <a class="dropdown-item" href="#">Settings</a>
    <a class="dropdown-item" routerLink="home">Log out</a>
   
  </div> 
</div>
    <div>
      <img src="/assets/images/homeimg.jpeg" width="1350" height="550">
    </div>

    <!-- <div class="jumbotron text-center" style="background-color: transparent">
    
        <h1 class="display-4"  style="color:azure"> 
    <img src="assets/images/logo.png" width="80" height="80" class="d-inline-block align-top" alt="">
FoodApp</h1>
        <form>
            <div class="input-group input-group-lg " >
              <input type="text" class="form-control" placeholder="SEARCH" style="background-color:lightblue">
            
            </div> -->
          <!-- </form> -->
      <!-- </div> -->

      <br><br> <br> <br>
      
<!-- <br><br> <br> <br>

<br><br> <br> <br> -->
<div class="container">
  <div class="card-deck">
    <div class="card ">
      <img src="/assets/images/f1.png"  height=220 width=255 />
      <div class="card-body text-center">

        <p class="card-text" style="font-size: 20pt">Breakfast</p>

      </div>
    </div>
    <div class="card ">
      <img src="/assets/images/f2.jpg" height=220 width=255 />
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 20pt">Lunch</p>
      </div>
    </div>
    <div class="card ">
      <img src="/assets/images/f3.jpg" height=220 width=255 />
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 20pt">Dinner</p>
      </div>
    </div>
    <div class="card ">
      <img src="/assets/images/f1.png" height=220 width=255 />
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 20pt">Tiffin Services</p>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
<!-- <img src="/assets/images/homeimg.jpeg" width="1350" height="550"> -->
<!-- <div class="container">

    <div class="jumbotron text-center" style="background-color: transparent">
    
        <h1 class="display-4"  style="color:azure"> 
    <img src="assets/images/logo.png" width="80" height="80" class="d-inline-block align-top" alt="">
FoodApp</h1>
        <form>
            <div class="input-group input-group-lg " >
              <input type="text" class="form-control" placeholder="SEARCH" style="background-color:lightblue">
            
            </div>
          </form>
      </div>
      <br><br> <br> <br>
      
<br><br> <br> <br>

<br><br> <br> <br>

  <div class="card-deck">
    <div class="card ">
      <img src="/assets/images/f1.png"  height=220 width=255 />
      <div class="card-body text-center">

        <p class="card-text" style="font-size: 20pt">Breakfast</p>

      </div>
    </div>
    <div class="card ">
      <img src="/assets/images/f2.jpg" height=220 width=255 />
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 20pt">Lunch</p>
      </div>
    </div>
    <div class="card ">
      <img src="/assets/images/f3.jpg" height=220 width=255 />
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 20pt">Dinner</p>
      </div>
    </div>
    <div class="card ">
      <img src="/assets/images/f1.png" height=220 width=255 />
      <div class="card-body text-center">
        <p class="card-text" style="font-size: 20pt">Tiffin Services</p>
      </div>
    </div>
  </div>
</div>  -->